.flexcontainer {
    display: flex;
    align-items: stretch;
    flex-direction: row;
}

.bankInformation{
    font-size: calc(10px + 1vmin);
}

.flexleftcollumn {
    flex: 1;
    display: flex;
    align-items: flex-start;
    align-content: stretch;
    flex-direction: column;
    align-self: stretch;
}

.flexleftcollumn > div.flexallignend {
    align-self: flex-end;
    flex: 1;
    display: flex;
}

.flexstart{
    align-self: flex-start;
}

h2 {
    text-align: left;
}

.accessibility{
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.flexallignend >input {
    display: flex;
    align-self: flex-end;
    flex: 1;
}

.flexleftcollumn > div {
    display: flex;
    align-self: flex-start;
    flex: 1;
}

.flexleftcollumn > input {
    flex-direction: row;
    align-self: flex-start;
    flex: 1;
    display: flex;
}

.flexright {
    display: flex;
    align-items: flex-end;
    justify-content: left;
}

.flexleft {
    display: flex;
    align-items: flex-start;
    justify-content: left;
}

hr.formseparator {
    width: 95%;
}
